@import model.GithubFolderOrFile
@import model.GithubFile
@import helper._

@(file: GithubFile, login: String, repoName: String)(implicit request: RequestHeader)

@main("Repository Content"){
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("/stylesheets/main.css")">
    </head>
    <div>
        <h1>File content</h1>
    </div>
    <div>
        <a>@{file.content}</a>
    </div>
    <div>
        <a>@file.name</a>
        <a>@{file.`type`}</a>
    </div>
}